@model IEnumerable<ProductViewModel> 
@{
    ViewBag.Title = "Products";
}
<div>
    <div class="pageheadertitle">
        <h5>@ViewData["Title"]</h5>
    </div>
    <div class="pageheadermenu">
       
    </div>
</div>
<br />
<div asp-validation-summary="All" class="text-danger"></div>

@using (Html.BeginForm("Index", "Products", FormMethod.Post, new { @class = "" }))
{
<div class="form-horizontal">
    <hr />
    <div>
        <div class="form-group serchleftdiv2">
            @Html.Label("Sub Category Name", "Sub Category Name", htmlAttributes: new { @class = "control-label",@for="ProductSubCategoryID" })
            @Html.DropDownList("ProductSubCategoryID",(List<SelectListItem>)ViewData["ProductSubCategoryID"],htmlAttributes: new { @class = "form-control inputsearch", placeholder = "SubCategory Name" })
        </div>

        <div class="form-group searchrightdiv2">
            @Html.Label("Product Name", "Product Name", htmlAttributes: new { @class = "control-label",@for="Name" })
            @Html.TextBox("Name", "", htmlAttributes: new { @class = "form-control inputsearch" })
        </div>
    </div>

    <div>
        <div class="form-group serchleftdiv2">
            <label class="control-label">Item Code</label>
            @Html.TextBox("ItemCode", null, new { @class = "form-control inputsearch", placeholder = "Item Code" })
        </div>

        <div class="form-group searchrightdiv2" style="text-align: right;">
            <input type="submit" value="Search" class="btn btn-default btn-info" /> <a class="btn btn-default btn-info" asp-action="Create">Create New</a>
        </div>
    </div> 

</div>
}
<p></p><br/><br /><br /><br />

@{
    await Html.RenderPartialAsync("_AngularAdminGridUIScriptPartial"); 
}
 
<script type="text/javascript">

    var app = angular.module("uigridApp", ["ui.grid", "ui.grid.pagination", "ui.grid.selection", "ui.grid.exporter"]);

    app.controller("uigridCtrl", function ($scope) {

        $scope.gridOptions = {
            enableFiltering: true,
            enableSorting: true,
            paginationPageSizes: [25, 50, 75],
            paginationPageSize: 25,
            columnDefs: [
                { field: 'Name', name: 'Product Name', width: '35%' },
                { field: 'ItemCode', width: '20%' },
                { field: 'BarCode', width: '20%' },
                {
                    field: 'ProductImage', name: 'Product Image', width: '15%', exporterSuppressExport: true,
                    enableFiltering: false,
                    enableSorting: false,
                    cellTemplate: '<image height="100px" src="{{row.entity.Image}}"></image>'
                },
                {
                    field: ' ',
                    width: '10%',
                    exporterSuppressExport: true,
                    enableFiltering: false,
                    enableSorting: false,
                    cellTemplate: '<div class="ui-grid-cell">&nbsp;<a ng-if="row.entity.IsDeleted==false" href="/Admin/Products/Edit/{{row.entity.EnID}}"><i class="glyphicon glyphicon-edit colorspringgreen" title="Edit"></i>&nbsp;&nbsp;</a><a href="/Admin/Products/Details/{{row.entity.EnID}}"><i class="glyphicon glyphicon-eye-open" title="Details"></i>&nbsp;&nbsp;</a><a href="/Admin/Products/Delete/{{row.entity.EnID}}">' +
                        '<i ng-if="row.entity.IsDeleted==false" class="glyphicon glyphicon-trash colorred" title="Delete"></i>' +
                        '<i ng-if="row.entity.IsDeleted==true" class="glyphicon glyphicon-open colorspringgreen" title="Delete"></i>' +
                        '</a></div>'
                }
            ],
            onRegisterApi: function (gridApi) {
                $scope.grid1Api = gridApi;
            },
            enableRowSelection: true,
            enableGridMenu: true,
            enableSelectAll: true,
            exporterMenuPdf: true,
            exporterMenuExcel: false,
            exporterCsvFilename: 'Products.csv', 
            exporterPdfDefaultStyle: {
                fontSize: 9
            },
            exporterPdfTableStyle: {
                margin: [30, 30, 30, 30]
            },
            exporterPdfTableHeaderStyle: {
                fontSize: 10,
                bold: true,
                italics: true,
                color: 'red'
            },
            exporterPdfHeader: {
                text: "Products",
                style: 'headerStyle'
            },
            exporterPdfFooter: function (currentPage, pageCount) {
                return {
                    text: currentPage.toString() + ' of ' + pageCount.toString(),
                    style: 'footerStyle'
                };
            },
            exporterPdfCustomFormatter: function (docDefinition) {
                docDefinition.styles.headerStyle = {
                    fontSize: 22,
                    bold: true
                };
                docDefinition.styles.footerStyle = {
                    fontSize: 10,
                    bold: true
                };
                return docDefinition;
            },
            exporterPdfOrientation: 'portrait',
            exporterPdfPageSize: 'LETTER',
            exporterPdfMaxGridWidth: 500
            //exporterCsvLinkElement: angular.element(document.querySelectorAll(".custom-csv-link-wareHouse"))
        };
        $scope.products = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model));
        $scope.gridOptions.data = $scope.products;
    });

</script>

<style type="text/css">
    .myGrid {
        width: 100%;
        height: 555px;
    }

    .ui-grid-row{
        height:auto;
    }
     
    #prodgrid .ui-grid-row, #prodgrid .ui-grid-cell, #prodgrid .ui-grid-cell .ui-grid-vertical-bar {
        height: auto;
    }

    #prodgrid .ui-grid-cell-contents, #prodgrid .ui-grid-disable-selection, #prodgrid .clickable, #prodgrid.ng-scope {
        height: 98px;
    }

    .ui-grid-cell a {
        text-decoration: none;
    }
</style>

<div ng-app="uigridApp">
    <div ng-controller="uigridCtrl">
        <div ui-grid="gridOptions" ui-grid-pagination ui-grid-auto-resize ui-grid-selection ui-grid-exporter id="prodgrid" class="myGrid"></div>
    </div>
</div>

